*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: black;
}
header{
    background: black;
    color: skyblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    height: 100px;
    position: fixed;
    top: 0px;
    width: max-content;
    z-index: 3;
    width: 100%;
}

a{
    margin-left: 5px;
    text-decoration: none;
    color: skyblue;
}

.c{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    justify-content: space-between;
    height: 700px;
    margin-top: 100px;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
}


.d,.e{
    width: 79%;
    height: 100%;
    background: skyblue;
}

.d{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
}

.e{
    width: 20%;
}


.btn{
    position: absolute;
    background: black;
    color: skyblue;
    top: 550px;
    left: 1000px;
    border: none;
    border-radius: 10%;
    width: 100px;
    height: 30px;
    z-index: 0;
}

.f{
    position: absolute;
    top: 320px;
    left: 1050px;
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 100px;
}


.e .btn{
    left: 1300px;
}

.g{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 120px;
    margin-top: 50px;
}

.h{
    height: 370px;
    width: 70%;
    background: black;
    color: skyblue;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    /* border: 5px solid skyblue; */

}

.i,.k{
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
}

video{
    height: 250px;
}
.k{
    padding-top: 40px;
}
.j{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
    margin-top: 50px;
    box-sizing: border-box;
    padding-left: 80px;
    margin-bottom: 80px;
}

.l{
    height: 300px;
    width: 90%;
    background: black;
    color: skyblue;
    text-align: center;
    /* border: 5px solid skyblue; */
    box-sizing: border-box;
    padding-top: 50px;
}

.m{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
}

.n{
    height: 200px;
    width: 100%;
    background: black;
    color: skyblue;
    text-align: center;

}

.b nav a i{
    margin-right: 5px;
    font-size: 17px;
}

.o,.q{
    margin-top: 5px;
    box-sizing: border-box;
    padding-top: 20px;
}

nav a i{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.o i{
    font-size: 60px;
}

#dtheme, #ltheme{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: black;
    position: fixed;
    bottom: 50px;
    right: 10px;
}

#ltheme{
    background: skyblue;
    right: 60px;
}




@media screen and (min-width: 1785px) {
    .e{
        display: none;
    }

    .img-btn{
        display: none;
    }

    .d{
        width: 100%;
    }
}
@media screen and (max-width: 1246px) {
    body{
        
        max-width: 100%;
        
    }
    .c {
        width: 100%;
        height: 600px;
        padding: none;
        

    }
    header{
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .e{
        display: none;
    }

    .img-btn{
        display: none;
    }

    .d{
        width: 100%;
    }
    
    .h{
        word-wrap: break-word;
        overflow: hidden;
        width: 100%;
        
        
    }

    #dtheme, #ltheme{
        display: none;
    }

    .g{
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hh{
        display: none;
    }
    
}

 @media screen and (max-width: 746px) {
    .c{
        height: 400px;
    }

    .j{
        margin-top: 0px;
        height: 500px;
    }
    .m, .j{
        display: flex;
        flex-direction: column;
    }
    .b{
        font-size: 10px;
    }      
    
    .a h1{
        font-size: 20px;
    }
} 

@media screen and (max-width: 500px){
    .b nav a i{
        display: none;
    }
    
}
